<%= form_with(model: @empresa) do |f| %>

<div class="form-group">
  <div class="col-md-12">
    <%= f.text_area :name, class: 'form-control' %>
  </div>
</div>
<%= f.submit 'Confirmar', class: 'btn btn-primary' %>
<% end %>
